<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Product title</title>
</head>
<body>
<div align="center">
	<h1>Product manager</h1>
	<a href="new">create new product</a>
	<table>
		<thead>
			<tr>
				<th>Product id</th>
				<th>name</th>
				<th>brand</th>
				<th>made in</th>
				<th>price</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="product : ${listProducts}">
				<td th:text="${product.id}">Product ID</td>
				<td th:text="${product.name}">name</td>
				<td th:text="${product.brand}">brand</td>
				<td th:text="${product.madein}">madein</td>
				<td th:text="${product.price}">price</td>
				<td>
					<a th:href="@{'/edit/' + ${product.id}}">Edit</a>
					&nbsp;&nbsp;&nbsp
					<a th:href="@{'/delete/' + ${product.id}}">delete</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>
</body>
</html>